[mysqld]
#log-bin=mysql-bin
#binlog-format=ROW
#server_id=1
#skip-grant-tables
user=canal
datadir=/home/canal/master/data
# Note: set --basedir to prevent probes that might trigger SELinux alarms, per MySQL bug #547485
basedir=/home/canal/master
socket=/home/canal/master/var/mysql-db.sock
port=13306
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
#skip-grant-tables
[mysqld_safe]
log-error=/home/canal/master/var/mysql-db.log
pid-file=/home/canal/master/var/mysql-db.pid
